<div class="panel-header panel-header-lg">
  <div class="text-center">
    <label for="yearSelect" class="h6"  style="color: aliceblue;">Chiffre d'affaire</label>
    <select id="yearSelect" (change)="onYearChange($event)">
      <option *ngFor="let year of availableYears" [value]="year" [selected]="year === selectedYear">{{ year }}</option>
    </select>
  </div>
    <canvas baseChart id="bigDashboardChart"
                [datasets]="lineBigDashboardChartData"
                [labels]="lineBigDashboardChartLabels"
                 [colors]="lineBigDashboardChartColors"
                [options]="lineBigDashboardChartOptions"
                [chartType]="lineBigDashboardChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
</div>

<br><br>
<div class="main-content">
  <div class="row">
    <div class="col-lg-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Global Sales</h5>
          <h4 class="card-title">Nombre de Réservations</h4>
          <div ngbDropdown>
            <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
              <i class="now-ui-icons loader_gear"></i>
            </button>
            <div ngbDropdownMenu class="dropdown-menu-right">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <a class="dropdown-item text-danger" href="#">Remove Data</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas baseChart id="lineChartExample"
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [colors]="lineChartColors"
                        [options]="lineChartOptions"
                        [chartType]="lineChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">2018 Sales</h5>
          <h4 class="card-title">All products</h4>
          <div ngbDropdown>
            <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
              <i class="now-ui-icons loader_gear"></i>
            </button>
            <div ngbDropdownMenu class="dropdown-menu-right">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <a class="dropdown-item text-danger" href="#">Remove Data</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <!-- <canvas id="lineChartExampleWithNumbersAndGrid"></canvas> -->
            <canvas baseChart id="lineChartExampleWithNumbersAndGrid"
                        [datasets]="lineChartWithNumbersAndGridData"
                        [labels]="lineChartWithNumbersAndGridLabels"
                        [colors]="lineChartWithNumbersAndGridColors"
                        [options]="lineChartWithNumbersAndGridOptions"
                        [chartType]="lineChartWithNumbersAndGridType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category"></h5>
          <h4 class="card-title">Nombre de Réservations</h4>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas baseChart id="barChartSimpleGradientsNumbers"
                        [datasets]="lineChartGradientsNumbersData"
                        [labels]="lineChartGradientsNumbersLabels"
                        [colors]="lineChartGradientsNumbersColors"
                        [options]="lineChartGradientsNumbersOptions"
                        [chartType]="lineChartGradientsNumbersType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked1($event)"></canvas>
          </div>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-category"></h5>
          <h4 class="card-title"> Bénéfices</h4>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newExpenseModal" style="float: right;">
            Nouveau dépense
          </button>

          <div class="modal fade" id="newExpenseModal" tabindex="-1" role="dialog" aria-labelledby="newExpenseModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="newExpenseModalLabel">Ajout type dépense</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form (submit)="addExpense()" enctype="multipart/form-data">
                <div class="modal-body">
                  <h5></h5>
                  <div class="row">
                    <div class="col-lg-12">
                      <select class="form-control" [(ngModel)]="expenseData.category" name="category">
                        <option value="" disabled selected>Choisir un type de dépense</option>
                        <option *ngFor="let expCat of category" [ngValue]="expCat">{{ expCat.category }}</option>
                      </select>
                    </div>
                    <div class="col-lg-12">
                      <div class="input-group form-group-no-border input-lg">
                        <input type="datetime-local" class="form-control" name="dateTime" [(ngModel)]="expenseData.dateTime"  step="any" placeholder="Date">
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="input-group form-group-no-border input-lg">
                        <input type="number" class="form-control" name="amount" [(ngModel)]="expenseData.amount" step="any" placeholder="Prix">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                  <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>
              </form>              
            </div>
          </div>
        </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <th>Mois</th>
                <th>Entrée</th>
                <th>Sortie</th>
                <th class="text-right">Bénéfice</th>
              </thead>
              <tbody>
                <tr *ngFor="let benefice of beneficesData">
                  <td><button type="button" class="btn btn-primary" (click)="getDetailsForMonth(benefice.month)" data-toggle="modal" data-target="#detailresume">
                    {{ benefice.month }}
                  </button></td>
                  <td>{{ benefice.income }}</td>
                  <td>{{ benefice.expense }}</td>
                  <td class="text-right">{{ benefice.benefice }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="detailresume" tabindex="-1" role="dialog" aria-labelledby="detailresumeLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="detailresumeLabel">Détail pour le mois </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

<div class="modal-body">
  <h5>Détail pour le mois {{ selectedMonth }}</h5>
  <h6>Dépenses :</h6>
  <ul>
    <li *ngFor="let expense of expensesDetails">
      {{ formatDate(expense.dateTime) }} - {{ expense.category.category }} - {{ expense.amount }} 
    </li>
  </ul>
  <h6>Revenus :</h6>
  <ul>
    <li *ngFor="let income of incomesDetails">
      {{ formatDate(income.dateTime) }} - {{ income.category.type }} - {{ income.amount }}
    </li>
  </ul>
</div>
<div class="modal-footer">

</div>

          <div class="modal-footer">

          </div>
      </div>
    </div>
  </div>


  </div>
</div>
