.section-signup::before {
    content: ""; /* Ajoute un pseudo-élément avant le contenu réel */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: inherit; /* Copie l'image de fond du parent */
    background-size: inherit; /* Copie la taille de l'image de fond du parent */
    background-position: inherit; /* Copie la position de l'image de fond du parent */
    filter: grayscale(50%); /* Ajoute le filtre de grisaille (ajustez selon vos besoins) */
    z-index: -1; /* Place le pseudo-élément en arrière-plan */
}

.card-login{
    justify-content: center;
    align-items: center;
    top: 50%;
    border-radius: 10px;
    padding: 10px;
}

.link{
    
}