<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Liste des clients</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Nom
                </th>
                <th>
                  Prénom
                </th>
                <th>
                  Contact
                </th>
                <th>
                  Email
                </th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    RAKOTO
                  </td>
                  <td>
                    Pierre
                  </td>
                  <td>
                    0348872414
                  </td>
                  <td>
                    rakoto@gmail.com
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
