<div class="page-header" filter-color="orange">
    <div class="page-header-image" style="background-image:url(assets/img/header-3.png)"></div>
    <div class="container">
        <div class="col-md-4 content-center">
            <div class="card card-signin card-plain">
                <form class="form" method="post" (ngSubmit)="onSubmit()">
                    <div class="header header-primary text-center">
                        <div class="logo-container">
                            <img src="assets/img/logo-r&a.png" alt="">
                        </div>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">  <i class="now-ui-icons users_single-02"></i></span>
                                    </div>
                                      <input type="text" class="form-control" [(ngModel)]="customer.lastname" name="lastname" placeholder="Nom" (focus)="focus=true" (blur)="focus=false" >
                                  </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">  <i class="now-ui-icons users_single-02"></i></span>
                                    </div>
                                      <input type="text" class="form-control" [(ngModel)]="customer.firstname" name="firstname" placeholder="Prénom" (focus)="focus=true" (blur)="focus=false" >
                                  </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">  <i class="now-ui-icons tech_mobile"></i></span>
                                    </div>
                                      <input type="tel" class="form-control" [(ngModel)]="customer.contact" name="contact" placeholder="Contact" (focus)="focus=true" (blur)="focus=false" >
                                  </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">  <i class="now-ui-icons ui-1_email-85"></i></span>
                                    </div>
                                      <input type="email" class="form-control" [(ngModel)]="customer.email" name="email" placeholder="Email" (focus)="focus=true" (blur)="focus=false" >
                                  </div>
                            </div>
                        </div>
                      <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="now-ui-icons objects_key-25"></i></span>
                        </div>
                          <input type="password" placeholder="Mot de passe" [(ngModel)]="customer.password" name="password" class="form-control" (focus)="focus1=true" (blur)="focus1=false"/>
                      </div>

                    </div>
                    <div class="footer text-center">
                        <button type="submit" class="btn btn-primary btn-round btn-lg btn-block">S'inscrire</button>  
                    </div>
                    <!-- Modal d'erreur -->
                    <div *ngIf="showError" class="modal error">
                    <!-- Contenu du modal d'erreur -->
                    <p>Une erreur s'est produite.</p>
                    </div> 
                    <div class="pull-left">
                        <h6>
                            <a href="/login" class="link">Vous avez déjà un compte ?</a>
                        </h6>
                    </div>
                    <div *ngIf="loading" class="text-center mt-3">
                        <div class="spinner-border" role="status">
                          <span class="sr-only">Loading...</span>
                        </div>
                      </div>
                    </form>
            </div>
        </div>
    </div>
</div>
